body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #666666;
}

h1 {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-img {
  cursor: pointer;
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  margin: 25px 25px 0;
}

main {
  background-color: #fff;
}

.chart {
  position: relative;
  width: calc(100vw - (100vw - 100%));
  max-width: calc(100vw - 90px);
  height: 300px;
}

.chart-toggle .active {
  background-color: #81c98f;
  color: #fff;
}
.chart-toggle span {
  font-weight: 700;
  color: #8f8f8f;
  border-radius: 15px;
  padding: 0 10px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

.traffic {
  background-color: #fff;
}
.traffic canvas {
  box-sizing: border-box;
  font-family: "Cutive Mono", monospace;
}

.daily-traffic {
  background-color: #fff;
}

.mobile-users {
  background-color: #fff;
}

.social-stats {
  background-color: #fff;
}

.new-members {
  background-color: #fff;
}

.recent-activity {
  background-color: #fff;
}

.message-user {
  background-color: skyblue;
}

.settings {
  background-color: chartreuse;
}

.legend-users {
  display: block;
  width: 150px;
}
.legend-users li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.legend-users li div:first-child {
  width: 26px;
  height: 26px;
  margin-right: 15px;
  border-radius: 5px;
}
.legend-users ul {
  list-style-type: none;
  display: inline-block;
  width: 100px;
  padding-left: 25px;
}

.doughnut-margin {
  margin-right: 45px;
}

.doughnut {
  width: 300px;
}

.social-wrap {
  margin-top: 15px;
  justify-content: space-between;
  padding: 0 25px;
}

.social-ind {
  height: 115px;
  width: 325px;
  background-color: #fbfbfb;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}
.social-ind div {
  margin: 0 50px 0 20px;
}
.social-ind h2 {
  color: #7477bf;
  margin: 0;
  font-size: 1.4em;
}
.social-ind p {
  color: #666666;
  font-size: 45px;
  margin: 0;
  font-weight: 300;
  line-height: 1;
}

.social-icon {
  height: 72px;
  width: 72px;
}

.new-member {
  height: 70px;
  margin: 0 35px 0 25px;
  justify-content: space-between;
}

.member-email {
  color: #7a7dc1;
}

.member-text {
  margin-left: 10px;
}
.member-text .member-name {
  font-size: 14px;
}

.new-member:nth-child(-n+4) {
  border-bottom: 1px solid #e9e9e9;
}

.member-text a {
  text-decoration: none;
  color: #666666;
  font-weight: 600;
}

.member-text .member-activity-0,
.member-text .member-activity-1,
.member-text .member-activity-2,
.member-text .member-activity-3 {
  font-size: 14px;
}

.arrow svg {
  height: 20px;
}

footer {
  background-color: black;
}

.body-container {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: 70px auto 100px;
  grid-template-areas: "header header" "nav main" "footer footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.main-container {
  display: grid;
  background-color: #d2d2d2;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  grid-template-areas: "tab-and-search " "everything-else ";
}

.tab-and-search-container {
  grid-area: tab-and-search;
}

.everything-else-container {
  grid-area: everything-else;
}

.tab-and-search-container {
  display: grid;
  grid-template-columns: 155px auto;
  grid-template-rows: 65px minmax(min-content, max-content);
  grid-template-areas: "tab   search" "alert alert";
}

.tab {
  grid-area: tab;
}

.search {
  grid-area: search;
}

.alert {
  grid-area: alert;
}

.everything-else-container {
  display: grid;
  background-color: #d2d2d2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px 350px 230px 350px 350px;
  grid-template-areas: "traffic        traffic" "daily-traffic  mobile-users" "social-stats   social-stats" "new-members    recent-activity" "message-user   settings";
  grid-gap: 1px;
}

.traffic {
  grid-area: traffic;
}

.daily-traffic {
  grid-area: daily-traffic;
}

.mobile-users {
  grid-area: mobile-users;
}

.social-stats {
  grid-area: social-stats;
}

.new-members {
  grid-area: new-members;
}

.recent-activity {
  grid-area: recent-activity;
}

.message-user {
  grid-area: message-user;
}

.settings {
  grid-area: settings;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #7477bf;
  color: #fff;
}
header p {
  align-self: center;
  font-size: 20px;
}
header div {
  display: flex;
  align-items: center;
}
header div .bell {
  cursor: pointer;
  height: 25px;
}
header div .bell:hover {
  animation: ring 0.3s forwards;
}
header div .bell-itself {
  transform-origin: 22px 0%;
}
header div .bell-circle {
  fill: lightgreen;
}
header div .divider {
  width: 1px;
  height: 42px;
  margin: 0 20px;
  background-color: #5d61bf;
}
header div .member-img {
  height: 33px;
  width: 33px;
}
header div .member-name {
  cursor: pointer;
  margin-left: 10px;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-10deg);
  }
  66% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
nav {
  background-color: #4d4c72;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 16px 0;
}
.nav-item:hover {
  cursor: pointer;
}
.nav-item .nav-active {
  height: 100%;
  width: 3px;
  background-color: #85db80;
  border-radius: 0 3px 3px 0;
}
.nav-item .nav-balance {
  width: 3px;
  height: 100%;
}
.nav-item .nav-icon {
  height: 32px;
}
.nav-item .nav-icon:hover, .nav-item .nav-icon:active {
  height: 35px;
}
.nav-item #nav-members,
.nav-item #nav-visits,
.nav-item #nav-settings {
  opacity: 0;
}
.nav-item .nav-inactive {
  fill: #a6a6b9;
}

.tab-and-search {
  background-color: #fff;
}

.tab {
  background-color: #fff;
  font-size: 20px;
  text-align: center;
}

.search {
  background-color: #fbfbfb;
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.alert {
  justify-content: center;
  background-color: #fff;
  padding: 25px 25px;
}

.alert-message {
  display: flex;
  justify-content: space-between;
  background-color: #7377bf;
  height: 40px;
  color: white;
  border-radius: 3px;
  padding: 0 15px;
}
.alert-message p {
  align-self: center;
}
.alert-message span {
  align-self: center;
  justify-self: flex-end;
  font-weight: 700;
}
.alert-message span#hide:hover {
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
