@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-10deg);
  }
  66% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.body-container {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: 70px auto;
  grid-template-areas: "header header" "nav main";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

.tab-and-search {
  display: grid;
  grid-template-columns: 155px auto;
  grid-template-rows: 65px minmax(min-content, max-content);
  grid-template-areas: "tab   search" "alert alert";
}

.tab {
  grid-area: tab;
}

.search {
  grid-area: search;
}

.alert {
  grid-area: alert;
}

.main-container {
  display: grid;
  background-color: #D2D2D2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(min-content, max-content) 350px 350px;
  grid-template-areas: "tab-and-search tab-and-search" "traffic        traffic" "daily-traffic  mobile-users" "social-stats   social-stats" "new-members    recent-activity" "message-user   settings";
  grid-gap: 1px;
}

.tab-and-search {
  grid-area: tab-and-search;
}

.traffic {
  grid-area: traffic;
}

.daily-traffic {
  grid-area: daily-traffic;
}

.mobile-users {
  grid-area: mobile-users;
}

.social-stats {
  grid-area: social-stats;
}

.new-members {
  grid-area: new-members;
}

.recent-activity {
  grid-area: recent-activity;
}

.message-user {
  grid-area: message-user;
}

.settings {
  grid-area: settings;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #666666;
}

h1 {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #7477bf;
  color: #fff;
}
header p {
  align-self: center;
  font-size: 20px;
}
header div {
  display: flex;
  align-items: center;
}
header div .bell {
  cursor: pointer;
  height: 25px;
}
header div .bell:hover {
  animation: ring 0.3s forwards;
}
header div .bell-itself {
  transform-origin: 22px 0%;
}
header div .bell-circle {
  fill: lightgreen;
}
header div .divider {
  width: 1px;
  height: 42px;
  margin: 0 20px;
  background-color: #5d61bf;
}
header div .member-img {
  cursor: pointer;
  height: 33px;
  width: 33px;
  border-radius: 50%;
}
header div .member-name {
  cursor: pointer;
  margin-left: 10px;
}

nav {
  background-color: #4d4c72;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 16px 0;
}
.nav-item:hover {
  cursor: pointer;
}
.nav-item .nav-active {
  height: 100%;
  width: 3px;
  background-color: #85DB80;
  border-radius: 0 3px 3px 0;
}
.nav-item .nav-balance {
  width: 3px;
  height: 100%;
}
.nav-item .nav-icon {
  height: 32px;
}
.nav-item .nav-icon:hover, .nav-item .nav-icon:active {
  height: 35px;
}
.nav-item #nav-members,
.nav-item #nav-visits,
.nav-item #nav-settings {
  opacity: 0;
}
.nav-item .nav-inactive {
  fill: #A6A6B9;
}

main {
  background-color: #fff;
}

.tab-and-search {
  background-color: #fff;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  margin: 0 25px;
}

.chart {
  position: relative;
  width: calc(100vw - (100vw - 100%));
  max-width: calc(100vw - 90px);
  height: 325px;
}

.chart-toggle .active {
  background-color: #81C98F;
  color: #fff;
}
.chart-toggle span {
  font-weight: 700;
  color: #8F8F8F;
  border-radius: 15px;
  padding: 0 10px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

.traffic {
  background-color: #fff;
}
.traffic canvas {
  box-sizing: border-box;
  font-family: "Cutive Mono", monospace;
}

.daily-traffic {
  background-color: #fff;
}

.mobile-users {
  background-color: #fff;
}

.social-stats {
  background-color: white;
}

.new-members {
  background-color: tomato;
}

.recent-activity {
  background-color: dodgerblue;
}

.message-user {
  background-color: skyblue;
}

.settings {
  background-color: chartreuse;
}

.tab-and-search {
  display: grid;
  grid-template-columns: 155px auto;
  grid-template-rows: 65px minmax(min-content, max-content);
  grid-template-areas: "tab   search" "alert alert";
}

.tab {
  background-color: #fff;
  font-size: 20px;
  text-align: center;
}

.search {
  background-color: #fbfbfb;
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.alert {
  justify-content: center;
  background-color: #fff;
  padding: 25px 25px;
}

.alert-message {
  display: flex;
  justify-content: space-between;
  background-color: #7377bf;
  height: 40px;
  color: white;
  border-radius: 3px;
  padding: 0 15px;
}
.alert-message p {
  align-self: center;
}
.alert-message span {
  align-self: center;
  justify-self: flex-end;
  font-weight: 700;
}
.alert-message span#hide:hover {
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
