//=================================
//  Section: recent activity
//=================================

/* recent activity */

.member-formatting-recent {
  margin: 15px 25px 15px 25px;
  @include mq($break-s) {
    margin: 0 25px 0 25px;
  }
  @include mq($break-l) {
    margin: 0 25px 0 35px;
  }
} 

.member-text a {
  text-decoration: none;
  color: #666666;
  font-weight: 600;
}
.member-text .member-activity-0,
.member-text .member-activity-1,
.member-text .member-activity-2,
.member-text .member-activity-3 {
  font-size: 14px;
}

.arrow {
  text-align: right;
  cursor: pointer;
  @include mq($break-s) {
    text-align: inherit;
  }
}

