//=================================
//  Section: traffic
//=================================

/* traffic */

.chart-toggle {
  display: flex;
  justify-content: center;
  @include mq($break-m) {
    display: block;
  }
  .active {
    background-color: #81c98f;
    color: #fff;
  }
  span {
    font-weight: 700;
    color: #8f8f8f;
    border-radius: 15px;
    padding: 0 10px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }
}

.traffic canvas {
  box-sizing: border-box;
  font-family: $font-chart;
}

#insert-line-chart {
  max-width: calc(100vw);
  // overflow: hidden;
  @include mq($break-s) {
    max-width: calc(100vw - 25px);
  }
  @include mq($break-m) {
    max-width: calc(100vw - 90px - 25px);
    //15px of 25px for horizontal overflow
  }
}
