//=================================
//  Variables
//=================================

$font: "Open Sans", sans-serif;
$font-chart: "Cutive Mono", monospace;
$font-switch: Trebuchet, Arial, sans-serif;

$break-s: 576px;
$break-m: 768px;
$break-l: 1024px;
$break-xl: 1302px;
