//=================================
//  Mixins
//=================================

@mixin flex($justify: null, $align: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin mq($break) {
  @if unitless($break) {
    @error "$break may not be unitless, was #{$break}.";
  }
  @media (min-width: $break) {
    @content;
  }
}
