//=================================
//  Variables
//=================================

// $font: "Helvetica Neue", sans-serif;

$color-btn-send: #7377bf;
$color-btn-save: #7377bf;
$color-btn-cancel: #b2b2b2;
$color-btn-radio: #7477bf;

// $color-text-dark: #888;
// $color-text-gray: #808181;

// $btns: (
//   "default": #51ddfc,
//   "success": #63cc82,
//   "error": #e4757a,
//   "warning": #fd7856,
//   "info": #927bc1
// );

// $themes: (
//   "3": #deb2ee,
//   "4": #7ee6fd,
//   "5": #deb2ee,
//   "6": #3fabca,
//   "7": #ec9fa3,
//   "8": #fd9f85,
//   "12": #80e8d1
// );

// $color-nav: #58e1c1;
// $color-headline-primary: #58e1c1;
// $color-blockquote: #58e1c1;
// $color-form-input: #58e1c1;
// $color-link: #51ddfc;
// $color-form-btn: #51ddfc;

// $grid: ".grid__col--";
// $button: ".btn--";

// $grid-widths: ("2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12");

// $break-s: 576px;
// $break-m: 768px;
// $break-l: 992px;
// $break-xl: 1302px;
