//=================================
//  Header
//=================================

header {
  @include flex($justify: space-between);
  padding: 0 10px;
  @include mq(400px) {
    padding: 0 20px;
  }
  background-color: #7477bf;
  color: #fff;
  p {
    align-self: center;
    font-size: 15px;

    @include mq(400px) {
      font-size: 20px;
    }
  }
  div {
    @include flex($align: center);
    div .bell {
      height: 25px;
      @include mq(400px) {
        height: 30px;
      }
      &:hover {
        animation: ring 0.3s forwards;
      }
    }
    .bell-itself {
      transform-origin: 22px 0%;
    }
    .bell-circle {
      fill: lightgreen;
    }
    .divider {
      width: 1px;
      min-width: 1px;
      height: 30px;
      margin: 0 10px;
      background-color: #5d61bf;
      @include mq(400px) {
        height: 42px;
        margin: 0 20px;
      }
    }
    .profile-img {
      height: 30px;
      min-height: 30px;
      width: 30px;
      min-width: 30px;
      border-radius: 50%;
      @include mq(400px) {
        height: 33px;
        min-height: 33px;
        width: 33px;
        min-width: 33px;
      }
    }
    .member-name {
      cursor: pointer;
      margin-left: 10px;
    }
  }
}

#notifications {
  position: relative;
  display: inline-block;
}

#dropbtn {
  color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -150px;
  background-color: #fff;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dropdown-content span {
  background-color: #f1f1f1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: #d2d2d2 1px solid;
}

.dropdown-content a,
.dropdown-content span {
  color: #666;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a {
  border-bottom: #eee 1px solid;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
