//=================================
//  Nav
//=================================

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-10deg);
  }
  66% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

nav {
  background-color: #4d4c72;
  display: flex;
  justify-content: space-evenly;
  @include mq($break-m) {
    display: block;
  }
}
.nav-item {
  @include flex($justify: space-between, $align: center);
  height: 40px;
  @include mq(400px) {
    height: 50px;
  }
  @include mq($break-m) {
    height: 60px;
    margin: 16px 0;
  }

  &:hover {
    cursor: pointer;
  }
  .nav-active {
    display: none;
    background-color: #85db80;
    height: 100%;
    width: 3px;
    border-radius: 0 3px 3px 0;
    @include mq($break-m) {
      display: block;
    }
  }
  .nav-balance {
    width: 3px;
    height: 100%;
  }
  .nav-icon {
    height: 25px;
    &:hover,
    &:active {
      height: 35px;
    }
    @include mq($break-m) {
      height: 32px;
    }
  }
  // Hard-coded in place of dynamic JS
  #nav-members,
  #nav-visits,
  #nav-settings {
    opacity: 0;
  }
  // Hard-coded in place of dynamic JS
  .nav-inactive {
    fill: #a6a6b9;
  }
}
