//=================================
//  Section: message users
//=================================

/* message users */

.form-message {
  padding: 0 35px 0 25px;
}
label[for="searchName"],
label[for="messageForUser"] {
  display: none;
}

input,
textarea,
button {
  font-family: $font;
  font-size: 14px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-top: 18px;
  border-radius: 5px;
}
#searchName {
  height: 40px;
  border: 1px solid #d1d1d1;
  padding: 15px 20px;
  background-color: #fbfbfb;
  &::placeholder {
    color: #bcbcbc;
  }
}

#messageForUser {
  height: 125px;
  resize: none;
  border: 1px solid #d1d1d1;
  padding: 15px 20px;
  background-color: #fbfbfb;
  &::placeholder {
    color: #bcbcbc;
  }
}

#sendMessage {
  height: 50px;
  background-color: #7377bf;
  color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
}
