//=================================
//  Section: mobile users
//=================================

/* mobile users */

.legend-users {
  display: block;
  li {
    @include flex($align: center);
    margin-bottom: 20px;
  }
  li div:first-child {
    width: 26px;
    height: 26px;
    margin-right: 15px;
    border-radius: 5px;
  }
  ul {
    list-style-type: none;
    display: inline-block;
    width: 100px;
    padding-left: 0;
    @include mq($break-m) {
      padding-left: 25px;
    }
  }
}

.doughnut {
  width: 300px;
  max-width: none;
}

.doughnut-margin {
  margin: 0;
  @include flex($justify: center, $align: center);
  flex-direction: column;
  @include mq($break-m) {
    flex-direction: row;
  }
  @include mq($break-l) {
    margin-right: 25px;
  }
  @include mq($break-xl) {
    margin-right: 45px;
  }
}
