//=================================
//  Section: new members
//=================================

/* new members */

.member-formatting-new {
  margin: 15px 25px 15px 25px;
  @include mq($break-s) {
    margin: 0 25px 0 25px;
  }
  @include mq($break-l) {
    margin: 0 35px 0 25px;
  }
}

.member-email {
  color: #7a7dc1;
  cursor: pointer;
  &:hover {
    color: #81C98F;
  }
}

.member-text {
  @include mq($break-s) {
    margin-left: 10px;
  }
  .member-name {
    font-size: 14px;
  }
}

.member-text,
.member-date {
  text-align: right;
  margin-bottom: 5px;
  @include mq($break-s) {
    text-align: inherit;
    margin-bottom: 0;
  }
}

.member-name,
.member-email,
.member-text {
  display: inline-block;
  width: 100%;
  @include mq($break-s) {
    display: block;
  }
}
