//=================================
//  Section: new members
//=================================

/* new members */

.new-member {
  // display: block;
  margin: 15px 35px 15px 25px;
  justify-content: space-between;
  // flex-direction: column;
  // text-align: center;
  @media (min-width: 768px) {
    @include flex($justify: space-between, $align: center);
    margin: 0 35px 0 25px;
    height: 70px;
  }
}
.member-email {
  color: #7a7dc1;
}
.member-text {
  margin-left: 10px;
  .member-name {
    font-size: 14px;
  }
}
.new-member:nth-child(-n + 4) {
  border-bottom: 1px solid #e9e9e9;
}
.member-left {
  // display: block;
  // text-align: right;
}
