//=================================
//  Section: recent activity
//=================================

/* recent activity */

.member-text a {
  text-decoration: none;
  color: #666666;
  font-weight: 600;
}
.member-text .member-activity-0,
.member-text .member-activity-1,
.member-text .member-activity-2,
.member-text .member-activity-3 {
  font-size: 14px;
}
