//=================================
//  Section: social stats
//=================================

/* social stats */

.social-wrap {
  @include flex($align: center);
  margin-top: 15px;
  justify-content: space-between;
  padding: 0 25px;
  flex-direction: column;
  @include mq($break-m) {
    flex-direction: row;
  }
}
.social-ind {
  height: 115px;
  width: 200px;
  border-radius: 5px;
  @include flex($align: center);
  @include mq($break-l) {
    width: 255px;
  }
  @include mq($break-xl) {
    width: 325px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #d1d1d1;
  }
  div {
    margin: 0 0 0 20px;
    @include mq($break-xl) {
      margin: 0 50px 0 20px;
    }
  }
  h2 {
    color: #7477bf;
    margin: 0;
    font-size: 1.4em;
  }
  p {
    color: #666666;
    font-size: 25px;
    margin: 0;
    font-weight: 300;
    line-height: 1;
    @include mq($break-l) {
      font-size: 45px;
    }
  }
}
.social-icon {
  height: 72px;
  width: 72px;
  margin-left: 25px;
}
