//=================================
//  Section: tab-and-search
//=================================

/* tab-and-search container */

.tab-and-search {
  background-color: #fff;
}

.tab {
  background-color: #fff;
  text-align: center;
  @include mq($break-l) {
    font-size: 20px;
  }
}
 
.search {
  background-color: #fbfbfb;
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.alert {
  justify-content: center;
  background-color: #fff;
  padding: 25px 25px;
}

.alert-message {
  @include flex($justify: space-between);
  background-color: #7377bf;
  min-height: 40px;
  color: #fff;
  border-radius: 3px;
  padding: 0 15px;
  p {
    align-self: center;
  }
  span {
    align-self: center;
    justify-self: flex-end;
    font-weight: 700;
    &#hide:hover {
      cursor: pointer;
    }
  }
}
