// =================================
// Base
// =================================
body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #666666;
}
h1 {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.member-img {
  cursor: pointer;
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  margin: 25px 25px 0;
}
main {
  background-color: #fff;
}

.chart {
  position: relative;
  // Move width to media query
  width: calc(100vw - (100vw - 100%)); // only Chrome likes
  max-width: calc(100vw - 90px); // only Firefox likes - in width
  height: 300px;
}
.chart-toggle {
  // display: flex;
  // align-items: center;
  .active {
    background-color: #81c98f;
    color: #fff;
  }
  span {
    font-weight: 700;
    color: #8f8f8f;
    border-radius: 15px;
    padding: 0 10px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
  }
}

.traffic {
  background-color: #fff;
  canvas {
    box-sizing: border-box;
    font-family: "Cutive Mono", monospace;
  }
}
.traffic,
.daily-traffic,
.mobile-users,
.social-stats,
.new-members,
.recent-activity,
.message-user,
.settings {
  background-color: #fff;
}
// Mobile Users
.legend-users {
  display: block;
  width: 150px;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  li div:first-child {
    width: 26px;
    height: 26px;
    margin-right: 15px;
    border-radius: 5px;
  }
  ul {
    list-style-type: none;
    display: inline-block;
    width: 100px;
    padding-left: 25px;
  }
}

.doughnut-margin {
  margin-right: 45px;
}
.doughnut {
  width: 300px;
}

//maybe move to social-stats file
.social-wrap {
  margin-top: 15px;
  justify-content: space-between;
  padding: 0 25px;
}
.social-ind {
  height: 115px;
  width: 325px;
  background-color: #fbfbfb;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  div {
    margin: 0 50px 0 20px;
  }
  h2 {
    color: #7477bf;
    margin: 0;
    font-size: 1.4em;
  }
  p {
    color: #666666;
    font-size: 45px;
    margin: 0;
    font-weight: 300;
    line-height: 1;
  }
}
.social-icon {
  height: 72px;
  width: 72px;
}

//new-members

.new-member {
  height: 70px;
  margin: 0 35px 0 25px;
  justify-content: space-between;
}
.member-email {
  color: #7a7dc1;
}
.member-text {
  margin-left: 10px;
  .member-name {
    font-size: 14px;
  }
}
.new-member:nth-child(-n + 4) {
  border-bottom: 1px solid #e9e9e9;
}

//recent activity
.member-text a {
  text-decoration: none;
  color: #666666;
  font-weight: 600;
}
.member-text .member-activity-0,
.member-text .member-activity-1,
.member-text .member-activity-2,
.member-text .member-activity-3 {
  font-size: 14px;
}

//send message
.form-message {
  padding: 0 35px 0 25px;
}
label[for="searchName"],
label[for="messageForUser"] {
  display: none;
}

input,
textarea,
button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-top: 18px;
  border-radius: 5px;
}
#searchName {
  height: 40px;
  border: 1px solid #d1d1d1;
  padding: 15px 20px;
  background-color: #fbfbfb;
  &::placeholder {
    color: #bcbcbc;
  }
}

#messageForUser {
  height: 125px;
  resize: none;
  border: 1px solid #d1d1d1;
  padding: 15px 20px;
  background-color: #fbfbfb;
  &::placeholder {
    color: #bcbcbc;
  }
}

#sendMessage {
  height: 50px;
  background-color: #7377bf;
  color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
}

//maybe move to footer file
footer {
  background-color: black;
}

//settings

.onoffswitch {
  position: relative; width: 85px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #CACBCE; border-radius: 50px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-out 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #7477BF; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #B2B2B2; color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 20px; margin: 5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 51px;
  border: 2px solid #CACBCE; border-radius: 50px;
  transition: all 0.3s ease-out 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

.form-settings {
  margin: 0 35px 0 25px;
}
.setting-switch {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.setting-switch p {
  width: 195px;
  font-size: 14px;
}

select {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-top: 40px;
  padding: 11px 20px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  background-color: #fbfbfb;

  -webkit-appearance: none;  /*Removes default chrome and safari style*/
      -moz-appearance: none; /* Removes Default Firefox style*/
      background: url('../../images/angle-down.svg') no-repeat;  /*Adds background-image*/
      background-position: 98%;  /*Position of the background-image*/
      background-size: 11px;
      text-indent: 0.01px; /* Removes default arrow from firefox*/
      text-overflow: "";  /*Removes default arrow from firefox*/

  &:invalid {
    color: #bcbcbc;
  }
  &:valid {
    color: #666666;
  }
  option {
    color: #666666;
  }
  //"placeholder" select option not visible in Firefox
}

.buttonContainer {
  justify-content: space-between;
}

#saveSettings,
#cancelSettings {
  height: 50px;
  color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
}

#saveSettings {
  margin-right: 15px;
  background-color: #7377bf;
} //move to media query
#cancelSettings {
  margin-left: 15px;
  background-color: #B2B2B2;
} //move to media query