// =================================
// Base
// =================================

/* base */
body {
  font-family: $font;
  font-size: 13px;
  color: #666666;
}
h1 {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}
.flex {
  @include flex($justify: center, $align: center);
}
.member-img {
  cursor: pointer;
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.heading {
  @include flex($justify: space-between, $align: center);
  height: 25px;
  margin: 25px 25px 0;
}

.chart {
  position: relative;
  // Move width to media query
  width: calc(100vw - (100vw - 100%)); // only Chrome likes
  max-width: calc(100vw - 90px); // only Firefox likes - in width
  height: 300px;
}

main,
.traffic,
.daily-traffic,
.mobile-users,
.social-stats,
.new-members,
.recent-activity,
.message-user,
.settings {
  background-color: #fff;
}
