//=================================
//  Keyframes
//=================================

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-10deg);
  }
  66% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

//=================================
//  Grids
//=================================
//outermost container
.body-container {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: 70px auto;
  grid-template-areas:
    "header header"
    "nav main";
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}

//main container
.main-container {
  display: grid;
  background-color: #d2d2d2;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content) minmax(
      min-content,
      max-content
    );
  grid-template-areas:
    "tab-and-search "
    "everything-else ";
}
.tab-and-search-container {
  grid-area: tab-and-search;
}
.everything-else-container {
  grid-area: everything-else;
}
// tab-and-search container
.tab-and-search-container {
  display: grid;
  grid-template-columns: 155px auto;
  grid-template-rows: 65px minmax(min-content, max-content);
  grid-template-areas:
    "tab   search"
    "alert alert";
}
.tab {
  grid-area: tab;
}
.search {
  grid-area: search;
}
.alert {
  grid-area: alert;
}
// everything-else container
.everything-else-container {
  display: grid;
  background-color: #d2d2d2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px 350px;
  grid-template-areas:
    "traffic        traffic"
    "daily-traffic  mobile-users"
    "social-stats   social-stats"
    "new-members    recent-activity"
    "message-user   settings";
  grid-gap: 1px;
}
.traffic {
  grid-area: traffic;
}
.daily-traffic {
  grid-area: daily-traffic;
}
.mobile-users {
  grid-area: mobile-users;
}
.social-stats {
  grid-area: social-stats;
}
.new-members {
  grid-area: new-members;
}
.recent-activity {
  grid-area: recent-activity;
}
.message-user {
  grid-area: message-user;
}
.settings {
  grid-area: settings;
}
// =================================
// Base
// =================================
body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #666666;
}
h1 {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}
// =================================
// Header
// =================================
header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #7477bf;
  color: #fff;
  p {
    align-self: center;
    font-size: 20px;
  }
  div {
    display: flex;
    align-items: center;
    .bell {
      cursor: pointer;
      height: 25px;
      &:hover {
        animation: ring 0.3s forwards;
      }
    }
    .bell-itself {
      transform-origin: 22px 0%;
    }
    .bell-circle {
      fill: lightgreen;
    }
    .divider {
      width: 1px;
      height: 42px;
      margin: 0 20px;
      background-color: #5d61bf;
    }
    .member-img {
      cursor: pointer;
      height: 33px;
      width: 33px;
      border-radius: 50%;
    }
    .member-name {
      cursor: pointer;
      margin-left: 10px;
    }
  }
}
// =================================
// Nav
// =================================
nav {
  background-color: #4d4c72;
}
.nav-item {
  &:hover {
    // background-color: red;
    cursor: pointer;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 16px 0;
  .nav-active {
    height: 100%;
    width: 3px;
    background-color: #85db80;
    border-radius: 0 3px 3px 0;
  }
  .nav-balance {
    width: 3px;
    height: 100%;
  }
  .nav-icon {
    height: 32px;
    &:hover,
    &:active {
      height: 35px;
    }
  }
  // Hard-coded in place of dynamic JS
  #nav-members,
  #nav-visits,
  #nav-settings {
    opacity: 0;
  }
  // Hard-coded in place of dynamic JS
  .nav-inactive {
    fill: #a6a6b9;
  }
}
main {
  background-color: #fff;
}
.tab-and-search {
  background-color: #fff;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  margin: 25px 25px 0;
}
.chart {
  position: relative;
  // Move width to media query
  width: calc(100vw - (100vw - 100%)); // only Chrome likes
  max-width: calc(100vw - 90px); // only Firefox likes
  height: 300px;
}
.chart-toggle {
  // display: flex;
  // align-items: center;
  .active {
    background-color: #81c98f;
    color: #fff;
  }
  span {
    font-weight: 700;
    color: #8f8f8f;
    border-radius: 15px;
    padding: 0 10px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
  }
}
.traffic {
  background-color: #fff;
  canvas {
    box-sizing: border-box;
    font-family: "Cutive Mono", monospace;
  }
}
.daily-traffic {
  background-color: #fff;
}
.mobile-users {
  background-color: #fff;
}
.social-stats {
  background-color: white;
}
.new-members {
  background-color: tomato;
}
.recent-activity {
  background-color: dodgerblue;
}
.message-user {
  background-color: skyblue;
}
.settings {
  background-color: chartreuse;
}
// tab-and-search container
.tab {
  background-color: #fff;
  font-size: 20px;
  text-align: center;
}
.search {
  background-color: #fbfbfb;
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
.alert {
  justify-content: center;
  background-color: #fff;
  padding: 25px 25px;
}
.alert-message {
  display: flex;
  justify-content: space-between;
  background-color: #7377bf;
  height: 40px;
  color: white;
  border-radius: 3px;
  padding: 0 15px;
  p {
    align-self: center;
  }
  span {
    align-self: center;
    justify-self: flex-end;
    font-weight: 700;
    &#hide:hover {
      cursor: pointer;
    }
  }
}
// Mobile Users
.legend-users {
  display: block;
  width: 150px;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  li div:first-child {
    width: 26px;
    height: 26px;
    margin-right: 15px;
    border-radius: 5px;
  }
  ul {
    list-style-type: none;
    display: inline-block;
    width: 100px;
    padding-left: 25px;
  }
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 45px;
}
.doughnut {
  width: 300px;
}
